@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
$print ?= rgb(255,0,0)
$motion ?= rgb(0,255,0)
$services ?= rgb(0,0,255)

// Metrics
$padding = 1rem
$frame = 3rem
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)

// CSS Reset
global-reset()

webfont('Nuckle_Book', 'Nuckle_Book', true, 'normal')

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size 62.5%

body
	font-family 'Nuckle_Book', Helvetica Neue, Arial, sans-serif
	font-size 1.2rem
	text-rendering optimizeLegibility
	font-smoothing()
	font-variant-ligatures: contextual;
	-moz-font-feature-settings: "calt";
	-webkit-font-feature-settings: "calt";
	font-feature-settings: "calt";

p
	margin-bottom 1em
	line-height 100%
	&:last-child
		margin-bottom 0

#categories, .lead, strong
	font-size 5vh

#page-content
	.lead, strong
		line-height 110%
		display block
		margin-bottom 1.5em
	em
		display block
		margin-left 8.4%
	&.default
		p
			margin 0 8.4%

::selection
	color $primary
	background $secondary
	
::-moz-selection
	color $primary
	background $secondary

::-webkit-scrollbar
	display none

*
	//hideselect()
	box-sizing(border-box)

.divider, .item-marquee__copy, .flickity-prev-next-button
	&::after
		content url(../../images/bullet-b.svg)
		width 1em
		height 1em
		margin 0 .2em .2em
		vertical-align middle
		transform-origin center
		display inline-block
		transform(scale(.60))

video::-webkit-media-controls
	display none

/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

#outdated
	display none
	text-align center
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	z-index 900
	a
		border-bottom 1px solid
	.inner
		padding 8rem 20%

.no-js, .no-svg, .no-flexbox
	#outdated
		display block

// @keyframes color {
//     100%, 0% {
//         stroke: #40382e
//     }
//     40% {
//         stroke: #0f0f0f
//     }
//     66% {
//         stroke: #40382e
//     }
//     80%, 90% {
//         stroke: #0f0f0f
//     }
// }

@keyframes rotate {
    100% {
        transform(rotate(360deg))
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    30% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	//background $primary url('../../images/loader.gif') center no-repeat
	background $primary
	background-size 15px
	z-index 10000
	.spinner
		width 50px
		height 50px
		align()
		.circular
			animation rotate 2s linear infinite
			height 100%
			transform-origin center center
			width 100%
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			margin auto
			.path
				stroke $secondary
				stroke-dasharray 1, 200
				stroke-dashoffset 0
				animation dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite

#intro
	hideselect()
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	z-index 400
	background $primary
	text-align center
	cursor pointer
	.slider-intro
		height 100vh
		hideselect()
		.flickity-slider
			transform(none !important)
		.flickity-viewport
			cursor pointer
		.slide
			height 100%
			width 100%
			flexbox()
			justify-content center
			align-items center
			left 0 !important
			visibility hidden
			.content
				width 30%
		.slide.is-selected, .slide.overlap
			visibility visible
			//z-index 1

#categories
	visibility hidden
	position fixed
	top 0
	left $padding
	width 100vh
	transform(rotate(-90deg) translateX(-100vh))
	transform-origin top left
	display inline-flex
	justify-content center
	align-items center
	text-transform uppercase
	z-index 3
	.category
		cursor pointer
		position relative
		margin 0 $padding
		transition(transform 400ms ease)
		transform(translateY(-0.75em) translateZ(0))
		&.active, &:hover
			transform(translateY(0) translateZ(0))

body.intro
	#container
		transform(translateY(100vh) translateZ(0))
	#categories
		transform(rotate(-90deg) translateX(-200vh))

body:not(.intro)
	header
		#site-title, .menu-item
			transition(transform 2s $kinetic)
			transform(translateZ(0) !important)
	#intro
		transition(transform 2s $kinetic)
		transform(translateY(-100%) translateZ(0))
	#container
		transition(transform 2s $kinetic)
		transform(translateZ(0) translateZ(0))
	#categories
		transition(transform 2s $kinetic)
		transform(rotate(-90deg) translateX(-100vh))

#container
	span(1)

header
	hideselect()
	display inline-flex
	width 100%
	position fixed
	top 0
	left 0
	padding $padding
	white-space nowrap
	z-index 500
	#site-title
		text-transform uppercase
		width 16.666666666666664%
		margin-left 8.583333333333332%
	.menu-item
		width 25%
		&.right
			text-align right
		&.center
			text-align center
	#site-title, .menu-item
		padding-right 5%
	#back
		position absolute
		height 1rem
		width 1rem
		//top ($padding - 0.2)
		top $padding
		left $padding
		display none
		a::before
			content '\2190'
			//font-size 1.7rem

#page-content
	span(1)
	padding 0 $padding
	margin-top 6rem

#page-content.projects
	padding '0 calc(%s + 8.583333333333332%)' % ($padding)
	margin-top 0
	hideselect()
	.category-grid
		margin-top 7rem
		width 100%
		display inline-flex
		justify-content center
		align-items center
		flex-wrap wrap
		background $primary
		position relative
		z-index 1
		&::before, &::after
			display none
		&.active
			z-index 2
		&:not(:last-child)
			margin-bottom 6rem
		.row.center
			span(1)
			text-align center
			margin-top 1em
		.project-item
			//flex 1
			width 28%
			margin-bottom ($frame*3)
			+below($md)
				width 100%
				flex auto
			&.size-2
				+above($md + 1)
					//flex 2
					width 33%
			&.size-3
				+above($md + 1)
					//flex 3
					width 38%
			&.pos-top
				align-self flex-start
			&.pos-bottom
				align-self flex-end
			&.clearfix
				&::before
				&::after
					content ''
					flex-basis 0
					order 1
			a
				display block
				padding 0 $frame
			.project-image
				//cursor none
				position relative
				// flexbox()
				// justify-content center
				// align-items center
				img
					display block
			.item-marquee
				visibility hidden
				position absolute
				top 50%
				left 0
				width 100%
				text-transform uppercase
				color $primary
				overflow hidden
				padding-bottom 2rem
				+below($md)
					display none
				.divider, .item-marquee__copy
					&::after
						content url(../../images/bullet-w.svg)
			.item-infos
				margin-top .1rem
				text-transform uppercase
				+above($md + 1)
					display none
			&:hover
				.item-marquee.is-init
					visibility visible

#page-content.project
	padding 0
	margin-top 0
	.slider
		height 100vh
		hideselect()
		.flickity-slider
			transform(none !important)
		.flickity-viewport
			cursor default
		.slide
			height 100%
			width 100%
			display inline-flex
			justify-content center
			left 0 !important
			visibility hidden
			.content
				height 100%
				padding 8% 0
				display inline-flex
				background url('../../images/loader.gif') center no-repeat
				background-size 7px
			.content.video
				width 100%
		.slide.is-selected
			visibility visible
			z-index 1
		.flickity-prev-next-button
			//cursor none !important
			top 0
			height 100%
			width 20%
			margin-top 0
			background transparent
			padding 0
			transform(none)
			border none
			border-radius 0
			z-index 10
			+below($md)
				display none
			svg
				display none
			&::after
				margin 0 $padding
			&.previous
				left 0
				text-align left
			&.next
				right 0
				text-align right
			&[disabled]
				display none
			&:hover
				&::after
					transform(scale(0.9))
	.overview-nav
		hideselect()
		position fixed
		bottom 0
		left 0
		width 100%
		padding $padding $padding 0
		z-index 100
		background $primary
		transition(transform 600ms ease)
		transform(translateY(20rem - $padding) translateZ(0))
		&.visible//, &:hover
			transition(transform 400ms $kinetic)
			transform(translateY(0) translateZ(0))
			.top-bar
				.overview
					//transform(translateY(-2rem) translateZ(0))
					&::after
						content 'Close'
		.top-bar
			width 100%
			display inline-flex
			justify-content space-between
			align-items center
			overflow hidden
			.job-title, .overview
				width 25%
			.project-title
				flex-grow 1
				text-align center
				text-transform uppercase
			.overview
				//transition(transform 400ms $kinetic)
				cursor pointer
				text-align right
				&::after
					content 'Overview'
		.slider-nav
			width 100%
			padding $padding 0
			height 20rem
			.slide
				height 100%
				margin 0 .3rem
				display inline-flex

body.projects
	#categories
		visibility visible

body.project
	overflow hidden

body.project, body.default
	header
		#back
			display block

body.is-loading
	cursor wait !important
	#back, #page-content, #categories
		visibility hidden

body.idle
	header div:not(#site-title), .flickity-prev-next-button, .overview-nav:not(.visible)
		transition(opacity 200ms ease)
		opacity 0